In [9]:
import streamlit as st
import numpy as np
import pandas as pd

st.title('streamlit超入門')

st.write('DataFrame')

df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40]
})

df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [4]:
import streamlit as st
import numpy as np
import pandas as pd

st.title('streamlit超入門')

st.write('DataFrame')

df = pd.DataFrame(
    np.random.rand(100,2)/[50,50]+[35.69,139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.690368  139.700917
1   35.691654  139.712537
2   35.692164  139.708289
3   35.693759  139.714101
4   35.705492  139.713644
..        ...         ...
95  35.708802  139.705844
96  35.708304  139.701230
97  35.690060  139.714431
98  35.699793  139.705185
99  35.693412  139.712370

[100 rows x 2 columns]

In [5]:
!pip freeze| grep stream

'grep' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。